

// colors

$color_white: #fff;
$color_black: #000;
$color_black_2: #292F36;
$color_white_2: #F4F0EC;
$color_brown: #CDA274;
$color_descr: #4D5053;



// breakpoints
$point_1: 1200px;
$point_2: 1024px; /* ! */
$point_3: 1023.98px;
$point_4: 768px; /* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px; /* ! */
$point_8: 374.98px; /* ! */

// fonts

$font_1: "Jost" , sans-serif;
$font_2: "DM Serif Display" , sans-serif;

