.prof {
	background-image: url(../imgs/prof/prof.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 35.6rem;
	position: relative;
}
.prof__in {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prof_block {
	position: absolute;
	transform: translate(-50%, -100%);
	top: 100%;
	left: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color_white;
	padding: 4rem 0;
	border-radius: 3.6rem 3.6rem 0 0;

	@include bp($point_2, min) {
		width: 50rem;
	}

	@include bp($point_3) {
		width: 90%;
	}
}
.prof__info {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
