html {
	@include bp($point_2, min) {
		font-size: calc(100dvw / 1920 * 10);
	}

	@include bp($point_3) {
		font-size: 10px;
	}
}

html,
body {
	height: 100%;
	font-family: $font_1;
	font-weight: 400;
	scroll-behavior: smooth;
}
body:has(.header_menu.active) {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex-grow: 1;
}

.section {
	width: 100%;
	padding: 14rem 0;
}

.container {
	max-width: 126rem;
	width: 100%;
	margin: 0 auto;
	padding: 0 3rem;
	&.container.container--w2 {
		max-width: 120rem;
	}
	&.container.container--w3 {
		max-width: 114rem;
	}
	&.container.container--w4 {
		max-width: 100%;
	}
	&.container.container--w5 {
		max-width: 86rem;
	}
}
.main__title {
	font-family: $font_2;
	font-size: 8.4rem;
	line-height: 10.6rem;
	color: $color_black_2;
}
.title {
	font-family: $font_2;
	font-size: 5rem;
	line-height: 6.2rem;
	color: $color_black_2;
	letter-spacing: 0.02em;
}
.title_2 {
	font-family: $font_2;
	font-size: 5rem;
	line-height: 6.2rem;
	color: $color_white;
	letter-spacing: 0.02em;
}
.descr {
	font-size: 2.2rem;
	line-height: 3.2rem;
	letter-spacing: 0.01em;
	color: $color_descr;
}
.descr_2 {
	font-size: 2.2rem;
	line-height: 3.2rem;
	letter-spacing: 0.01em;
	color: $color_white;
}

